.information{
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
*{
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* margin-bottom: 10px; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container-height{
  height: 550px;
}
.query{
  height:27.5%;
  background-color: #efefef;
  border: 1px solid #afafaf;
  border-radius: 5px;
}
.query .col-sm-2{
  border-right: 1px solid #454545;
  height: 100%;
  font-size: 20px;
}

.query .col-sm-2 h2{
}

.input{
  margin: 15px 5px;
}

.query-option{
  height:6.3%;
  margin: 15px 0;
  /* border-radius: 5px; */
}
.query-option button{
  margin: 0;
  height: 100%;
}
/* .query-content{
  height:420px;
} */
.query>*{
  margin: 0;
  padding: 0;
}


.query-btn .btn{
  margin: 0 auto;
  margin-top: 25px;
}

.modal-dialog{
  width: 800px;
}

.row{
  margin: 10px auto;
  padding: 0;
}

.row input{
  border-radius: 3px;
  border: 1px solid #bcbcbc;
  height: 25px;
  margin: 0 5px;
}
.info{
  margin: 15px 0;
}

.query-content{
  height:66.2%;
}
.checkbox{
  height: 100%
}
